__pycache__
!/classification/data/
.ipynb_checkpoints
*.pyc
pretrained_models/
precomputed_pairs/
preprocessing/
build/
output/
wandb/
*__pycache__/
.vscode
slurm_outs/
*.sw*
pairs_iou/
pairs_naive/
garbage/
xps/
old/
/extra/
# scripts/
output_dir/
outputs/
code1.py
code2.py